/* Generales */
body {
    background: #fff;
    background-size: cover;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: -0;
    /* overflow:hidden;  */
  }
  a:hover, a:active, a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
  }

  h1, h2{
    text-align: center;
    font-family: 'titulos';
    text-transform: uppercase;
  }

  h2, h3{
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
      color: #333;
      font-weight: bold;
  }
  h4 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #C85C5C;
    margin: 0px auto;
    padding: auto;
    font-size: 15px;
  }
  h5 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #0B4619;
    margin: 0px auto;
    font-size: 15px;
  }
  h6 {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    color: #F3950D;
    margin: 0px auto;
    padding: auto;
    font-size: 15px;
  }
  p {
      margin: 5px;
      text-align:center;
  }
  #content-section .tittle-section{
      max-width: 400px;
      display: block;
      margin: auto;
  }
  /* --------------------------------------------MENU-PRINCIPAL--------------------------------------------------- */
  /* header general*/

  #header{
      padding: 0px;
      position: relative;
      margin-top: -30px;
  }
  #header .logo-empresa img{
      max-width: 250px;
      width: 100%;
  }
  .user-name {
      color: #AAAAAA;
      font-size: 25px;
      text-transform:none;

  }
  #header .display{
      align-items: center;
      justify-content: space-between;
      position: relative;
  }
  #header .display .saludo{
      position: absolute;
      left: calc(50% - 100px);
  }

  #header .date-user{
      background: #fff;
      padding: 10px 20px;
      position: absolute;
      right: 0;
      z-index: 2;
      width: auto;
      border:2px solid #333;
      border-radius: 10px;
  }

  #header .date-user .content-user {
      align-items: center;
      font-weight: bold;
  }
  #header .date-user .name span{
      font-size: 12px;
      color: #333;
  }
  #dropbtn {
      cursor: pointer;
      padding: 0px;
  }
  .user-photo {
      width: 25px;
      height: 25px;
      margin-left: 10px;
  }
  .img-user {
      width: inherit;
      height: inherit;
  }
  .img-user svg {
      margin: 0px;
      color: #333;
  }


  #dropdown-content {
      position:absolute;
  }

  #header .date-user .user-option{
      padding: 5px;
      position: absolute;
      /* background: #333; */
      border-radius: 0px 0px 10px 10px;
      margin-top: -5px;
      z-index: -1;
      transition: all 0.4s;
      cursor: pointer;
  }
  #header .date-user .user-option ul{
      list-style: none;
      text-align: right;
      padding-left: 0px;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  #header .date-user .user-option ul li{
      padding: 5px 0 5px 0;
      transition: all 0.4s;
      font-size: 15px;
      margin-bottom: 0px;
  }
  #header .date-user .user-option ul a{
      text-decoration: none;
      color: #333;
      font-weight: bold;
  }
  #header .date-user .user-option ul a:hover {
      color: #333;
  }
  .dropdown-content{
      transition: all 0.4s;
      display: none;
  }
  .dropbtn:hover .dropdown-content{
      display: inline;
      transition: all 0.4s;
      cursor: pointer;
  }

  /* footer */
  #footer .container .content {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align:center;
}


  /* botones-footer */
#botones-footer{
    padding: 0px 30px;
    position: fixed;
    bottom: 50px;
    height: 30px;
    width: 100%;
}
#botones-footer .botones-abl-footer .btn-primary{
    background: none;
    border-style: none;
}
#botones-footer .botones-abl-footer .btn-primary i{
    font-size: 60px;
    color: #333;
}
#botones-footer .botones-abl-footer .btn-primary i:hover {
    color: #5089C6;
}

/* headeer content-section general */
#content-section{
    padding: 0px 0;
    margin-bottom: 0px;
}
.titulo-section {
    display: flex;
    justify-content: center;
    margin:-70px 0px 10px 0px;
    padding: 0px;
}
  /* -------------------------------------- USUARIO----------------------------------------------- */
.modulo-usuarios .options{
    margin-bottom: 45px;
}
.modulo-usuarios .options .btn{
    margin-right: 5px;
    background: none;
    border: 2px transparent solid;
}
.modulo-usuarios .options .btn:hover{
    border: 2px #fff solid;
}
.section-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 300px 0px 200px;
}
.content-row {
    width:25%;
    display: block;
}
.bg-icono {
    width: 25%;
    height: inherit;
    /* border: 2px solid black;
    border-radius: 50px; */
    border-bottom: solid 2px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin: 0px;
}
.container-modificar {
    margin: 0px 350px;
}

.bg-icono i{
    font-size:150px;
}

/* botones accion */
.botones-accion{
    padding-top: 20px;
}
.botones-accion .boton{
    padding-bottom: 20px;
}
.botones-accion .boton .btn{
    width: 100%;
    background: #5089C6;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;
    border: #5089C6 2px solid;
    border-radius: 10px;
}
.botones-accion .boton .btn:hover{
    width: 500px;
    color: #333;
    background: none;
    border: 2px #333 solid;
    transition: all .4s;

}

/* agregar usuario - módulo usuarios */
.container-form {
    margin: 0px 350px;
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    background-color: #5089C6;
    box-shadow: 0px 0px 10px #333;
}
.form-content {
    display: flex;
    justify-content: center;
    margin: auto;
}
form {
    display: block;
}

.col-sm-4-left{
    margin-right: 30px;
}

input {
    /* border-radius: 30px;
    font-size: 15px;
    padding: 15px;
    height: 25px;
    border:  1px solid #333;
    background-color: #fff;
    color: #333; */
    width: 100%;
    border-style: none;
    background: #5089C6;
    border-bottom: 2px solid #fff;
    height: 30px;
    font-size: 20px;
    color: #fff;
    /* text-indent: 40px; */
    font-size: 15px;
}
::placeholder {
    color:#333;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    background-color: #5089C6;
    color: #5089C6;
    transform: translateY(-100%);
    transition: 0.44s;
}
 /* autorellenar input */
 input:-webkit-autofill,
 input:-webkit-autofill:hover,
 input:-webkit-autofill:focus,
 input:-webkit-autofill:active {
     transition: background-color 5000s;
     -webkit-text-fill-color: #fff !important;
 }
select {
    /* border-radius: 30px;
    border:  1px solid #333;
    font-size: 15px;
    height: 30px;
    background-color: #fff;
    color: #333;
    padding: 0px 15px; */
    width: 100%;
    border-style: none;
    background: #5089C6;
    border-bottom: 2px solid #fff;
    height: 30px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
select:focus {
    outline: none;
}
.select-rol option:first-child{
    display: none;
}

.botones {
    display: flex;
    justify-content:center;
    margin: auto;
}

button svg {
    margin-right: 5px;
}
button:focus {
    outline: none;
}
button i {
    margin-right: 5px;
}

#button-crear svg {
    margin-top: 4px;
}
#button-crear{
    margin-right:10px;
    background-color: #fff;
    color: green;
    display: flex;
}
#button-crear:hover {
    background-color: green;
    color: #fff;
}

/* lista -  modulo usuarios */
.link-crear {
    display: flex;
    justify-content: center;
}
.crear {
    margin: auto;
    text-align: center;
    color: #fff;
    text-decoration:none;
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #333;
    padding: 5px;
}
.crear:hover {
    color: #333;
    border: 1px solid #333;
    background-color: #fff;
}
.content-crear {
    margin: 0px;
    text-align: center;
    
}
table {
    /* display: flex;
    justify-content: center; */
    margin: 0px auto;

}
thead, tbody { display: block; }
tbody {
    height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}
tbody, thead {
    padding: 10px;
}
table tr th{
    padding: 8px;
    background-color: #333;
    color: #fff;
    font-size: 15px;
    text-align: center;
}
table tr td {
    text-align: left;
    font-size: 14px;
    padding: 5px 10px;
}
table tr:nth-child(odd) {
    background-color: #DDDDDD;
}
.datos-usuario:hover {
    background-color: #5089C6;
}
.buttons {
    display: flex;
}
#button-editar, #button-modificar{
    margin-right:10px;
    background-color: #fff;
    color: orange;
    display: flex;
}
#button-editar svg, #button-eliminar svg, #button-modificar svg {
    margin-top: 4px;
}
#button-editar:hover, #button-modificar:hover {
    background-color: orange;
    color: #fff;
}
#button-eliminar {
    margin-right:10px;
    background-color: #fff;
    color: red;
    display: flex;
}
#button-eliminar:hover {
    background-color: red;
    color: #fff;
}

/* modificar modulo usuarios */
.boton-restaurar-pro .btn  {
    background-color: #fff;
    color: orange;
}
.boton-restaurar-pro button:hover{
    background: orange;
    color: white;
    transition: all 0.5s;
}

/* eliminar usuario */
.eliminar {
    margin-top: 10px;
}
.container-eliminar {
    margin:0px 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #333;
    background-color: #5089C6;
}
.eliminar h3 {
    font-size: 25px;
    color: #fff;
}
.opciones-eliminar-g{
    justify-content: center;
    align-items: center;
}
.bg-opciones{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.opciones-eliminar .botones button{
    display: block;
    margin: auto;
    background: #333;
    border-radius: 5px;
    border-style: none;
    border: 1px #333 solid;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    transition: all .4s;
}
.opciones-eliminar .botones button:hover{
    background-color: transparent;
    color: #333;
    border: 1px #333 solid;
    transition: all .4s;
}
.option-asigdep, .option-block {
    display: none;
    text-align: center;
    padding-top: 40px;
}
.botones {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
}
.boton-elimina-pro {
    border-radius: 30px;
    font-size: 15px;
    height: 25px;
}
.boton-guarda-pro {
    border-radius: 30px;
    font-size: 15px;
    height: 25px;
}
/* .option-asigdep, form, button {
    position: absolute;
} */

.option-asigdep form, .option-block form {
    margin:0px 10px;
    padding:0px;
}
.option-asigdep button, .option-block button {
    padding:5px 10px;
    margin: 0px;
    margin-right: 10px;
}
/* asignar dependencias */
#asigned-user {
    background-color: #fff;
    color: orange;
}
#asigned-user:hover{
    background: orange;
    color: white;
    transition: all 0.5s;
}
/* cancelar asignaciòn */
#cancel-asigned, #cancel-block, #cancel-remove{
    background-color: #fff;
    color: red;
}
#cancel-asigned:hover, #cancel-block:hover, #cancel-remove:hover{
    background: red;
    color: white;
    transition: all 0.5s;
}

/* bloquear usuario */
#block-user, #remove-user {
    background-color: #fff;
    color: #000;
}
#block-user:hover, #remove-user:hover{
    background: #000;
    color: white;
    transition: all 0.5s;
}

/* desbloquear usuario */
#desblock-user {
    background-color: #fff;
    color: #000;
}
#desblock-user:hover{
    background: #AAAAAA;
    color: #fff;
    transition: all 0.5s;
}

/* crear usuario */



.perfil {
    display: flex;
    justify-content: space-around;
}

/* mensaje de alert  */
.alert p {
    display: flex;
}