/* Generales */
body {
    background: #fff;
    background-size: cover;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: -0;
    /* overflow:hidden;  */
  }
  a:hover, a:active, a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
  }
  
  h1, h2{
    text-align: center;
    font-family: 'titulos';
    text-transform: uppercase;
  }
  
  h2, h3, h4, h5, h6{
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
      color: #333;
      font-weight: bold;
  
  }
  #content-section .tittle-section{
      max-width: 400px;
      display: block;
      margin: auto;
  }
  
  /* --------------------------------------------MENU-PRINCIPAL--------------------------------------------------- */
  /* header general*/

  #header{
      padding: 0px;
      position: relative;
      margin-top: -30px;
  }
  #header .logo-empresa img{
      max-width: 250px;
      width: 100%;
  } 
  .user-name {
      color: #AAAAAA;
      font-size: 35px;
  
  }
  #header .display{
      align-items: center;
      justify-content: space-between;
      position: relative;
  }
  #header .display .saludo{
      position: absolute;
      left: calc(50% - 100px);
  }
  #header .date-user{
      background: #fff;
      padding: 10px 20px;
      border-radius: 50px;
      position: absolute;
      right: 0;
      z-index: 2;
      width: auto;
      border:2px solid #333;
      border-radius: 40px;    
  }
  
  #header .date-user .content-user {
      align-items: center;
      font-weight: bold;
  }
  #header .date-user .name span{
      font-size: 12px;
      color: #333;
  }
  #dropbtn {
      cursor: pointer;
      padding: 0px;
  }
  .user-photo {
      width: 25px;
      height: 25px;
      margin-left: 10px;
  }
  .img-user {
      width: inherit;
      height: inherit;
  }
  .img-user svg {
      margin: 0px;
      color: #333;
  }
  
  
  #dropdown-content {
      position:absolute;
  }
  
  #header .date-user .user-option{
      padding: 5px;
      position: absolute;
      /* background: #333; */
      border-radius: 0px 0px 10px 10px;
      margin-top: -5px;
      z-index: -1;
      transition: all 0.4s;
      cursor: pointer;
  }
  #header .date-user .user-option ul{
      list-style: none;
      text-align: right;
      padding-left: 0px;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  #header .date-user .user-option ul li{
      padding: 5px 0 5px 0;
      transition: all 0.4s;
      font-size: 15px;
      margin-bottom: 0px;
  }
  #header .date-user .user-option ul a{
      text-decoration: none;
      color: #333;
      font-weight: bold;
  }
  #header .date-user .user-option ul a:hover {
      color: #333;
  }
  .dropdown-content{ 
      transition: all 0.4s;
      display: none;
  }
  .dropbtn:hover .dropdown-content{
      display: inline;
      transition: all 0.4s;
      cursor: pointer;
  }
  
  /* footer */
  .footer-container {
      text-align: center;
      color: #333;
  
  }.content p {
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 30px;
      width: 100%;
      text-align: center;
  }
  /* botones-footer */
#botones-footer{
    padding: 0px 30px;
    position: fixed;
    bottom: 50px;
    height: 30px;
    width: 100%;
}
#botones-footer .botones-abl-footer .btn-primary{
    background: none;
    border-style: none;
}
#botones-footer .botones-abl-footer .btn-primary i{
    font-size: 60px;
    color: #333;
}
#botones-footer .botones-abl-footer .btn-primary i:hover {
    color: #5089C6;
}

/* headeer content-section general */
#content-section{
    padding: 0px 0;
    margin-bottom: 0px;
}
.titulo-section {
    display: flex;
    justify-content: center;
    margin:-70px 0px 10px 0px;
    padding: 0px;
}
  /* -------------------------------------- USUARIO----------------------------------------------- */
.modulo-usuarios .options{
    margin-bottom: 45px;
}
.modulo-usuarios .options .btn{
    margin-right: 5px;
    background: none;
    border: 2px transparent solid;
}
.modulo-usuarios .options .btn:hover{
    border: 2px #fff solid;
}
.section-container{
    display: flex; 
    justify-content: space-between; 
    margin: 0px 300px 0px 200px; 
}
.content-row {
    width:25%;
    display: block;
}
.bg-icono {
    width: 25%;
    height: inherit;
    /* border: 2px solid black;
    border-radius: 50px; */
    border-bottom: solid 2px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin: 0px;
}
.container-modificar {
    margin: 0px 350px;
}

.bg-icono i{
    font-size:150px;
}

/* botones accion */
.botones-accion{
    padding-top: 20px;
}
.botones-accion .boton{
    padding-bottom: 20px;
}
.botones-accion .boton .btn{
    width: 100%;
    background: #5089C6;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;
    border: #5089C6 2px solid;
    border-radius: 50px;
}
.botones-accion .boton .btn:hover{
    width: 500px;
    color: #333;
    background: none;
    border: 2px #333 solid;
    transition: all .4s;

}
.container-form {
    margin: 0px 350px;
}
.form-content {
    border: 1px solid #333;
    border-radius: 5px;
    padding: 20px;
    background-color: #5089C6;
    box-shadow: 0px 0px 10px #333;
}
.col-sm-4-left{
    margin-right: 30px;
}
form {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}
input {
    border-radius: 30px;
    font-size: 15px;
    padding: 15px;
    height: 25px;
    border:  1px solid #333;
    background-color: #fff;
    color: #333;
}
::placeholder {
    color: #333;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
    transform: translateY(-100%);
    transition: 0.44s;
}
select {
    border-radius: 30px;
    border:  1px solid #333;
    font-size: 15px;
    height: 30px;
    background-color: #fff;
    color: #333;
    padding: 0px 15px;
}
select:focus {
    outline: none;
}
.botones {
    display: flex;
    justify-content:space-evenly;
    margin-bottom: 10px;
}
.boton-elimina-pro {
    border-radius: 30px;
    font-size: 15px;
    height: 25px;
}
.boton-guarda-pro {
    border-radius: 30px;
    font-size: 15px;
    height: 25px;
}
button {
    border-radius: 30px;
    padding: 5px 15px;
}
button svg {
    margin-right: 5px;
}
button:focus {
    outline: none;
}
button i {
    margin-right: 5px;
}
 .boton-guarda-pro button:hover{
    background: green;
    color: white;
    transition: all 0.5s;
} 
.boton-elimina-pro button:hover{
    background: orange;
    color: white;
    transition: all 0.5s;
} 
.boton-elimina-pro .btn  {
    background-color: #fff;
    color: orange;
}
.boton-guarda-pro .btn {
    background-color: #fff;
    color: green;
}


/* configurar modulo usuarios */

.buscar{
    margin: 0px 280px;
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.buscar svg {
    margin-left: 5px;
    margin-top: 8px; 
    color: #333;
    cursor:pointer;
}
.form-buscar input {
    text-align: center;
    color: #333;
    background-color: #fff;
}
.form-buscar input::placeholder {
    color: #333;
}
input:focus::placeholder {
    color: transparent;
    transform: translateY(-100%);
    transition: 0.44s;
}
.boton-restaurar-pro .btn  {
    background-color: #fff;
    color: orange;
}
.boton-restaurar-pro button:hover{
    background: orange;
    color: white;
    transition: all 0.5s;
} 

/* eliminar usuario */
.eliminar {
    margin-top: 10px;
}
.container-eliminar {
    margin:0px 250px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px;
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #333;
    background-color: #5089C6;
}
.eliminar h3 {
    font-size: 25px;
    color: #fff;
}
.opciones-eliminar-g{
    justify-content: center;
    align-items: center;
}
.bg-opciones{
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.opciones-eliminar .botones button{
    display: block;
    margin: auto;
    background: #333;
    border-radius: 5px;
    border-style: none;
    border: 1px #333 solid;
    color: #fff;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 10px;
    transition: all .4s;
}
.opciones-eliminar .botones button:hover{
    background-color: transparent;
    color: #333;
    border: 1px #333 solid;
    transition: all .4s;
}
.option-asigdep, .option-block {
    display: none;
    text-align: center;
    padding-top: 40px;
}
/* .option-asigdep, form, button {
    position: absolute;
} */

.option-asigdep form, .option-block form {
    margin:0px 10px;
    padding:0px;
}
.option-asigdep button, .option-block button {
    padding:5px 10px;
    margin: 0px;
    margin-right: 10px;
}
/* asignar dependencias */
#asigned-user {
    background-color: #fff;
    color: orange;
}
#asigned-user:hover{
    background: orange;
    color: white;
    transition: all 0.5s;
} 
/* cancelar asignaciòn */
#cancel-asigned, #cancel-block, #cancel-remove{
    background-color: #fff;
    color: red;
}
#cancel-asigned:hover, #cancel-block:hover, #cancel-remove:hover{
    background: red;
    color: white;
    transition: all 0.5s;
} 

/* bloquear usuario */
#block-user, #remove-user {
    background-color: #fff;
    color: #000;
}
#block-user:hover, #remove-user:hover{
    background: #000;
    color: white;
    transition: all 0.5s;
} 

/* desbloquear usuario */
#desblock-user {
    background-color: #fff;
    color: #000;
}
#desblock-user:hover{
    background: #AAAAAA;
    color: #fff;
    transition: all 0.5s;
} 

/* buscar usuario */
.container-search {
    margin: 0px 350px;
    display: none;
    justify-content: center;
    margin-top: 10px;
} 
.button-buscar {
    border: 0px;
    background-color: transparent ;
    padding: 0px;
    margin-bottom: 15px;
} 

.perfil {
    display: flex;
    justify-content: space-around;
}