/* Generales */
body {
    background: #fff;
    background-size: cover;
    color: #000;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: -0;
    overflow:hidden;  
  }
  a:hover, a:active, a:focus {
    color: #000;
    outline: none;
    text-decoration: none;
  }
  
  h1, h2{
    text-align: center;
    font-family: 'titulos';
    text-transform: uppercase;
  }
  
  h2, h3, h4, h5, h6{
      font-family: 'Fjalla One', sans-serif;
      text-align: center;
      color: #333;
      font-weight: bold;
  
  }
  #content-section .tittle-section{
      max-width: 400px;
      display: block;
      margin: auto;
  }
  
  /* --------------------------------------------MENU-PRINCIPAL--------------------------------------------------- */
  /* header general*/
  #header{
      padding: 0px;
      position: relative;
      margin-top: -30px;
  }
  #header .logo-empresa img{
      max-width: 250px;
      width: 100%;
  } 
  .user-name {
      color: #AAAAAA;
      font-size: 35px;
  
  }
  #header .display{
      align-items: center;
      justify-content: space-between;
      position: relative;
  }
  #header .display .saludo{
      position: absolute;
      left: calc(50% - 100px);
  }
  #header .date-user{
      background: #fff;
      padding: 10px 20px;
      border-radius: 50px;
      position: absolute;
      right: 0;
      z-index: 2;
      width: auto;
      border:2px solid #333;
      border-radius: 40px;    
  }
  
  #header .date-user .content-user {
      align-items: center;
      font-weight: bold;
  }
  #header .date-user .name span{
      font-size: 12px;
      color: #333;
  }
  #dropbtn {
      cursor: pointer;
      padding: 0px;
  }
  .user-photo {
      width: 25px;
      height: 25px;
      margin-left: 10px;
  }
  .img-user {
      width: inherit;
      height: inherit;
  }
  .img-user svg {
      margin: 0px;
      color: #333;
  }
  
  
  #dropdown-content {
      position:absolute;
  }
  
  #header .date-user .user-option{
      padding: 5px;
      position: absolute;
      /* background: #333; */
      border-radius: 0px 0px 10px 10px;
      margin-top: -5px;
      z-index: -1;
      transition: all 0.4s;
      cursor: pointer;
  }
  #header .date-user .user-option ul{
      list-style: none;
      text-align: right;
      padding-left: 0px;
      margin-top: 10px;
      margin-bottom: 5px;
  }
  #header .date-user .user-option ul li{
      padding: 5px 0 5px 0;
      transition: all 0.4s;
      font-size: 15px;
      margin-bottom: 0px;
  }
  #header .date-user .user-option ul a{
      text-decoration: none;
      color: #333;
      font-weight: bold;
  }
  #header .date-user .user-option ul a:hover {
      color: #333;
  }
  .dropdown-content{ 
      transition: all 0.4s;
      display: none;
  }
  .dropbtn:hover .dropdown-content{
      display: inline;
      transition: all 0.4s;
      cursor: pointer;
  }
  
  /* footer */
  .footer-container {
      text-align: center;
      color: #333;
  
  }.content p {
      position: fixed;
      left: 0px;
      bottom: 0px;
      height: 30px;
      width: 100%;
      text-align: center;
  }
  /* botones-footer */
#botones-footer{
    padding: 0px 30px;
    position: fixed;
    bottom: 50px;
    height: 30px;
    width: 100%;
}
#botones-footer .botones-abl-footer .btn-primary{
    background: none;
    border-style: none;
}
#botones-footer .botones-abl-footer .btn-primary i{
    font-size: 60px;
    color: #333;
}
#botones-footer .botones-abl-footer .btn-primary i:hover {
    color: #5089C6;
}

/* headeer content-section general */
#content-section{
    padding: 0px 0;
    margin-bottom: 0px;
}

  /* Modulo usuario */
.modulo-usuarios .options{
    margin-bottom: 45px;
}
.modulo-usuarios .options .btn{
    margin-right: 5px;
    background: none;
    border: 2px transparent solid;
}
.modulo-usuarios .options .btn:hover{
    border: 2px #fff solid;
}
.section-container{
    display: flex; 
    justify-content: space-between; 
    margin: 0px 300px 0px 200px; 
}
.content-row {
    width:25%;
    display: block;
}
.bg-icono {
    width: 25%;
    height: inherit;
    /* border: 2px solid black;
    border-radius: 50px; */
    border-bottom: solid 2px #333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s;
    margin: 0px;
}

.bg-icono i{
    font-size:150px;
}

/* botones accion */
.botones-accion{
    padding-top: 20px;
}
.botones-accion .boton{
    padding-bottom: 20px;
}
.botones-accion .boton .btn{
    width: 100%;
    background: #5089C6;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.5s;
    border: #5089C6 2px solid;
    border-radius: 50px;
}
.botones-accion .boton .btn:hover{
    width: 500px;
    color: #333;
    background: none;
    border: 2px #333 solid;
    transition: all .4s;

}


/* ---------------------------------------- MODIFICAR USUARIO ---------------------------------------- */

/* modificar - agregar usuario */
/* permisos-check */
.permisos-check .tittle-check{
    padding-bottom: 10px;
}
.permisos-check{
    background: #5089C6;
    padding: 10px 10px;
    border-radius: 8px;
    max-height: 170px;
    overflow: scroll;
}
.permisos-check hr{
    margin: 5px 0;
    border: .5px #fff solid;
}
.permisos-check .form-group-check{
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    margin-bottom: -7px;
}
.permisos-check .form-group-check p{
    font-size: 13px;
}
.agregar-usuario form{
    max-width: none !important;
}
.agregar-usuario .botones{
    max-width: 600px;
    width: 100%;
    display: block;
    margin: auto;
}
#content-section form{
    max-width: 600px;
    width: 100%;
    display: block;
    margin: auto;
}
#content-section .form-comp{
    max-width: 400px;
    width: 100%;
    display: block;
    margin: auto;
}
#content-section form .select{
    position: relative;
}
#content-section form .select .flecha{
    position: absolute;
    right: 0;
    margin-right: 10px;
}
#content-section form .select .flecha i{
    font-size: 40px;
    color: #fff;
    margin-top: -7px;
}
#content-section form select{
    background: linear-gradient(to right, #333, #666);
    border: 1px #fff solid;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    height: 30px;
    appearance: none;
    text-indent: 2px;
}
#content-section form input{
    background: linear-gradient(to right, #333, #666);
    border: 1px #fff solid;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    appearance: none;
    text-indent:5px;
    color: #fff;
}
#content-section form input[type=checkbox]{
    appearance: auto;
    height: 15px;
    width: auto;
}
#content-section form input[type=number]::-webkit-inner-spin-button, 
#content-section form input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#content-section form input[type=number] { 
    -moz-appearance:textfield; 
}
#content-section form input::placeholder{
    color: #fff;
    opacity: 10;
}
#content-section form .botones{
    padding: 50px 0;
}
#content-section form .botones .boton-elimina-pro{
    float: right;
}
#content-section form .botones .boton-elimina-pro button:hover{
    background: red;
    color: #fff;
    transition: all 0.4s;
}
#content-section form .botones button{
    background: #fff;
    border-style: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 5px 5px 0 0 #000;
    transition: all 0.4s;
}
#content-section form .botones button i{
    margin-right: 5px;
}
#content-section form .botones .boton-guarda-pro{
    float: left;
}
#content-section form .botones .boton-guarda-pro button:hover{
    background: green;
    color: white;
    transition: all 0.4s;
}
.row {
    border:3px solid black;
    padding: 10px 10px 0px 10px;
    text-align: center;
}




