section {
    background-color: #f8f4ef;
    height: 100vh;
}

a:hover {
    color: white;
}

.tittle {
    padding: 170px 50px 0px 400px;
}

.formulario {
    padding-left: 400px;
    display: flex;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #333 !important;
}

input:focus {
    border: none;
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#login {
    color: black;
    width: 100px;
    background-color: #7BFF8E;
    z-index: 999;
}

#login:hover {
    color: black;
    background-color: #BEFFCC;
}

.form-group {
    width: 300px;
    margin-right: 30px;
}

#alert {
    width: 47%;
    max-height: 250px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    margin-left: 400px;
}

#alert svg {
    margin-right: 8px;
}


/* lista usuarios*/

.tittle-list {
    padding: 50px 50px 0px 350px;
}

.buscador {
    margin-left: 350px;
}

#busqueda-users {
    width: 35%;
    margin-bottom: 10px;
    color: #333;
}

#busqueda-users button {
    margin-left: 3px;
}

table {
    margin-top: 30px;
    margin-left: 350px;
    max-width: 900px;
    background-color: #fff;
}

#button-editar {
    background-color: #F5EE4B;
    border: 1px solid #F5EE4B;
}

#button-editar:hover {
    background-color: #F5F09A;
    border: 1px solid #F5F09A;
}

#button-eliminar {
    background-color: #DE0B0B;
    border: 1px solid #DE0B0B;
}

#button-eliminar:hover {
    background-color: #F56451;
    border: 1px solid #F56451;
}


/* paginador */

.paginador {
    margin: 0px;
    display: flex;
    justify-content: center;
    margin-right: 520px;
}

.paginador ul {
    padding: 5px;
    list-style: none;
    background: #fff;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.paginador a,
.pageSelected {
    color: #333;
    border: 1px solid #DCD0C0;
    border-radius: 2px;
    padding: 5px;
    display: inline-block;
    font-size: 14px;
    text-align: center;
    width: 35px;
}

.paginador a:hover {
    background-color: #DCD0C0;
    color: #333;
}

.pageSelected {
    color: #fff;
    background: #B19389;
    border: 1px solid #B19389;
    border-radius: 2px;
}

.paginador ul li a {
    text-decoration: none;
}

.paginador ul li a :hover {
    text-decoration: none;
}


/* eliminar */


/* .eliminar {
    border: 1px solid #333;
    margin: 30px 400px;
    box-shadow: 0px 0px 3px black;
}

.eliminar-svg {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    color: #ECB365;
    margin-bottom: 5px;
}

.eliminar-dates {
    text-align: left;
}

.eliminar-dates p {
    margin: 5px;
}

.advertencia h3 {
    font-size: 20px;
    margin-left: 5px;
} */

.eliminar-dates {
    text-align: center;
}

.eliminar-dates p {
    margin: 5px;
}

.advertencia {
    margin-top: 10px;
}

#button-delete {
    display: flex;
    justify-content: center;
}

.adv {
    margin-top: 30px;
}

#div-delete {
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#delete {
    color: black;
    background-color: #721c24;
    color: #fff;
    margin: 0px;
}

#delete svg {
    margin: 0px;
}

#delete:hover {
    color: #fff;
    background-color: #882d36;
}


/* categoria de productos */

.content-text {
    padding-left: 350px;
}


/* traslados entre bodegas */

.traslados {
    display: flex;
    justify-content: center;
    margin-right: 440px;
    margin-top: 30px;
}

#traslado-bodegas {
    color: black;
    background-color: #7BFF8E;
    max-width: 300px;
}

#traslado-bodegas:hover {
    color: black;
    background-color: #BEFFCC;
}