/* <!-- body --> */
body {
        font-family: 'Source Sans Pro', sans-serif;
        background-color: white;
        background-size: 100%;
        background-repeat:repeat;
        color: black;
        min-width: 100vw;
        min-height: 100vh;
        margin: 0px auto;
        overflow-x: hidden;
}

/* <!-- main --> */
.main {
        width: 100%;
        height: 500px;
        background-image: url(img/MAIN.jpeg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size:100%;
        color: black;
        align-items: center;
        font-size: 32px;
}
.description-main {
        padding-left:20px;
}
/* <!-- header --> */
header{
        background-color:white;
        width: inherit;
        margin-bottom: 0px;
        margin-left:0px;
        height: 20px;
        padding: 30px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-bottom: 5px solid black;
        /* border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-bottom-left-radius:100px; */
}
.logos {
        display:flex;
        align-items:center;
}
.logo {
        margin:0px;
        margin-left: 20px;
}
.StockS {
        margin:0px;
        margin-left: 10px;
}

.menu {
        height: inherit;
        width: 1300px;
        align-items: center;

}
ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        display: flex;
        height: inherit;
        justify-content: center;
        align-items: center;
}
li {
        height: inherit;
}
.link {
        color: black;
        font-size: 15px;
        text-decoration: none;
        display: inherit;
        align-items: center;
        margin:0px 18px;
        padding:0px 4px;
}
.image-input{
        margin: 4px;
}
.link-input {
        border-radius: 5px;
        box-shadow: 0px 0px 3px black;
        padding-left: 5px;
}

/* <!-- system --> */
.systems {
        margin: 10px 0px;
        background-image: url(img/FONDO1.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}
.title-system {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
}
.title-system h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid black;
        background-color: black;
        color: white;
}
.system {
        text-align: center;
        font-size: 20px;
        padding: 0px 100px;
}
.projectm {
        text-align: center;
}
.projectm-description{
        color: black;
        font-size: 18px;
}
.collaborators {
        display: flex;
        justify-content: space-around;
        text-align: center;
}
.collaborators-description {
        color: black;
        font-size: 17px;
}
.collaborators-more {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
}
.collaborators-more-description {
        color: black;
        font-size: 17px;
}

/* <!-- modules --> */
.title-modules {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid #22577A;
        display:flex;
        align-items: center;
        justify-content: center;
}
.title-modules h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid #22577A;
        background-color:#22577A;
        color: white;
}
.modules {
        display:flex;
        justify-content:space-around;
        text-align: center;
        align-items: center;
        margin: 10px 0px;
        padding: 0px 40px;
        background-image: url(img/FONDO2.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}
.module-users {
        width: unset;
        margin:0px;
        text-align: center;
        padding: 40px 35px;
}
.module-users:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
        transition: 0.5s;
        cursor:pointer;
}
.module-shoop {
        width: unset;
        margin:0px;
        text-align: center;
        padding: 40px 35px;
}
.module-shoop:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
        transition: 0.5s;
        cursor:pointer;
}
.module-stock {
        width: unset;
        margin:0px;
        text-align: center;
        padding: 40px 35px;
}
.module-stock:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
        transition: 0.5s;
        cursor:pointer;
}
.module-sale {
        width: unset;
        margin:0px;
        text-align: center;
        padding: 40px 35px;
}
.module-sale:hover {
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
        transition: 0.5s;
        cursor:pointer;
}

/* <!-- aspects --> */
.title-aspects {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid #F2BB7B;
        display: flex;
        align-items: center;
        justify-content: center;
}
.title-aspects h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid #F2BB7B;
        background-color:#F2BB7B;
        color: white;
}
h3 {
        font-size: 25px;
}   
.aspects {
        width: 100%;
        height: 950px;
        margin-bottom: 30px;
        margin:10px 0px;
        background-image: url(img/FONDO3.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}        
.aspects-description {
        text-align: center;
        font-size: 20px;
}
.security {
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
}
.security-left {
        padding: 30px 40px;
        align-items: center;
        text-align: left;
}
.aspect-security_image{
        min-width: 500px;
        min-height: 300px;
        background-image: url(/img/SEGURIDAD.png);
        background-size: 500px 300px;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
}
.aspect-security_image:hover{
        background-image: url(/img/SEGURIDAD_HOVER.PNG);
        background-size: 500px 300px;
        transition: 0.9s;
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
}
.customer {
        width: 80%;
        margin: 0px auto;
        display: flex;
        justify-content: space-around;
}
.customer-rigth {
        padding: 30px 40px;
        width: inherit;
        height: inherit;
        align-items: center;
        text-align: right;
}
.customer-client_image{
        min-width: 500px;
        min-height: 300px;
        background-image: url(/img/CLIENTES.png);
        background-size: 500px 300px;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
}
.customer-client_image:hover{
        background-image: url(/img/CLIENTES_HOVER.PNG);
        background-size: 500px 300px;
        transition: 0.9s;
        border-radius: 5px;
        box-shadow: 0px 0px 10px black;
}

/* <!-- documents --> */
.title-documents {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
}
.title-documents h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid blac;
        background-color:black;
        color: white;
}

.documents {
        text-align: center;
        display: flex;
        justify-content: space-around;
        margin:10px 0px;
        padding: 0px 200px;
        background-image: url(img/FONDO4.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}

.documents {
        width: 900;
        height: 500;
}
.document {
        margin-bottom: 30px;
        border-left:0px;
}
.document-left{
        width:unset;
        padding-bottom:300px;
        text-align: center;
        padding: 25px ;
}
.document-description {
        font-size: 20px;
        align-items:flex-end;
}
.document-link {
        display: flex;
        justify-content: space-around;
        align-items: center;
}

/* <!-- programs --> */
.title-programs {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid #22577A;
        display: flex;
        align-items: center;
        justify-content: center;
}
.title-programs h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid #22577A;
        background-color:#22577A;
        color: white;
}
.program {
        margin: 10px 0px;
        background-image: url(img/FONDO5.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}
.programs {
        align-items: center;
        text-align: center;
        filter: grayscale(100%);
        margin-bottom: 100px;
}
.programs-system {
        text-align: center;
        display: flex;
        justify-content: space-around;
        padding: 0px 200px;
}
.programs:hover{
        filter:none;
        cursor: pointer;
        transition: 0.5s;
}
.program-description {
        text-transform: uppercase;
}

/* <!-- contacts --> */
.title-contact {
        font-size: 30px;
        text-align: center;
        margin:0px;
        padding: 0px 40px;
        text-transform:uppercase;
        font-family: 'Fjalla One', sans-serif;
        color: black;
        margin: 0px 100px;
        border-top:5px solid #F2BB7B;
        display: flex;
        align-items: center;
        justify-content: center;
}
.title-contact h2 {
        padding: 0px auto;
        margin-top: 0px;
        padding: 10px;
        border: 5px solid #F2BB7B;
        background-color:#F2BB7B;
        color: white;
}
.contact-form {
        margin:10px 0px;
        background-image: url(img/FONDO6.JPG);
        background-size: 100% ;
        background-repeat:no-repeat ;
}
.contact-email {
        display:flex;
        height: 90px;
        width:unset;
        justify-content: center; 
        align-items: center; 
}
.correo_image {
        width: 35px;
        height: 30px;
        margin: 8px;
}
.input {
        border-radius: 5px;
        box-shadow: 0px 0px 1px black;
        width: 250px;
        height: 20px;
        margin: 8px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 15px;
        padding-left: 5px;
}
.redes {
        display:flex;
        height: 50px;
        width:unset;
        justify-content: center; 
        align-items: center; 
        margin-bottom: 20px;
}
.redes-link {
        width: 50px;
        height: 50px;
}
.redes-link.github {
        background-image: url(img/GITHUB.png);
        background-size: 50px 50px;
        margin: 10px;
}
.redes-link.facebook {
        background-image: url(img/FACEBOOK.png);
        background-size: 50px 50px;
        margin: 10px;
}
.redes-link.instagram {
        background-image: url(img/INSTAGRAM.png);
        background-size: 50px 50px;
        margin: 10px;
}
.redes-link.twitter {
        background-image: url(img/TWITTER.png);
        background-size: 50px 50px;
        margin: 10px;
}

/* <!-- footer --> */
.footer {
        background-color: white;
        width: 95vw;
        height: 50px;
        margin-top: 5px;
        padding: 20px 30px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        text-align: center;
        border-top: 3px solid black;
        border-right: 3px black;
        border-top-right-radius:100px; 
}
.footer-details img {
        width: 40px;
        height: 40px;
}
.sist_op{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;
}
button {
        font-size: 15px;
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
        border-radius: 5px;
        box-shadow: 0px 0px 1px black;
        cursor:pointer;
}
/* .wrapper {
        width: 3000px;
        margin: 0px auto;
        display:inherit;
        align-items: inherit;
        justify-content: inherit;
        height: inherit;
        width: inherit; 
}       */