/* <!-- body --> */

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    background-size: 100%;
    background-repeat: repeat;
    color: black;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    overflow-x: hidden;
}


/* <!-- header --> */

header {
    background-color: white;
    margin-bottom: 0px;
    margin-left: 0px;
    width: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid black;
    color: white;
    height: 60px;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    /* border-bottom: 3px solid black;
        border-left: 3px solid black;
        border-bottom-left-radius:100px; */
}

.StockS {
    margin-right: 40px;
}

.StockS img {
    width: 100px;
    margin-left:30px;
}
#toggle {
    display:none;
    margin: 0px;
}

.nav {
    height: inherit;
    width: 100%;
    align-items: center;
    margin-right: 30px;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.link {
    color: black;
    font-size: 15px;
    text-decoration: none;
    display: inherit;
    align-items: center;
    margin: 0px 13px;
    padding: 0px;
}

.link:hover {
    color: #C9CCD5;
    transition: 0.5s;
}

li {
    height: inherit;
}

.image-input {
    margin: 4px;
}

.link-input {
    border-radius: 5px;
    box-shadow: 0px 0px 3px black;
    padding-left: 5px;
    width: 143px;
}


/* <!-- main --> */

.main {
    width: 100%;
    height: auto;
    /* background-image: url(img/MAIN4.jpeg);
        background-position-y: center;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    color: black;
    background-color: #EEEEEE;
    padding-top: 80px;
    padding-bottom: 20px;
    margin-bottom: 15px;
}

.master {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}

h1 {
    font-size: 45px;
    padding-left: 30px;
}

.main-img {
    width: 450px;
    margin: 0px;
    margin-right: 50px;
}

.description-main {
    text-align: center;
    font-size: 20px;
    margin: 0px 300px;
    padding: 10px 20px;
    color: black;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px grey;
}
.link-app {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.app {
    color: black;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 18px;
    border-radius: 100px;
    box-shadow: 0px 0px 3px black;
    background-color: #EEEEEE;
    padding: 10px 15px;
}

.app:hover {
    background-color: #333;
    color:white;
    transition: 0.5s;
    cursor: pointer;
}


/* .description-main:hover {
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 1px grey;
    cursor: pointer;
} */

.description-main p {
    margin: 0px;
}


/* <!-- system --> */

.systems {
    margin: 0px;
    margin-bottom: 15px;
    background-color: #333;
    color: white;
    padding: 10px;
}

h2 {
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: white;
    padding: 20px;
    margin: 0px
}

.projectm {
    text-align: center;
}

.projectm-description {
    color: white;
    font-size: 18px;
}

.projectm-image {
    width: 180px;
    border: 2px solid white;
    border-radius: 40px;
    padding: 5px;
    background-color: white;
}

.projectm-image:hover {
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;
}

.collaborators {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.collaborators-description {
    color: white;
    font-size: 17px;
}

.collaborators-image {
    width: 150px;
    border: 2px solid #93B5C6;
    border-radius: 40px;
    padding: 5px;
    background-color: #93B5C6;
}

.collaborators-image:hover {
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;
}

.collaborators-more {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.collaborators-more-description {
    color: white;
    font-size: 17px;
}

.collaborators-more-image {
    width: 150px;
    border: 2px solid #5089C6;
    border-radius: 40px;
    padding: 5px;
    background-color: #5089C6;
}

.collaborators-more-image:hover {
    background-color: #333;
    transition: 0.5s;
    cursor: pointer;
}


/* <!-- modules --> */

.modul {
    background-color: #EEEEEE;
    margin-bottom: 15px;
    padding: 10px;
    align-items: center;
}

.modul h2 {
    color: black;
}

h3 {
    font-size: 30px;
    margin:0px;
}

.modules-description {
    font-size: 18px;
    margin: 15px 0px;
}

.modules-images {
    width: 120px;
    margin:0px;
}

#modulos {
    margin: 0px;
}

.modules {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 100px;
}

.modules-left {
    text-align: center;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 40px;
    padding: 15px;
    width: auto;
    height: auto;
}

.modules-rigth {
    text-align: center;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 40px;
    padding: 15px;
    width: auto;
    height: auto;
}

.module-users {
    width: 400px;
    height: 350px;
    margin: 0px;
    text-align: center;
    padding: 40px 35px;
    border: 3px solid grey;
    border-radius: 30px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.module-users:hover {
    border: 3px solid #5089C6;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #5089C6;
    transition: 0.5s;
    cursor: pointer;
    background-color: #5089C6;
}

.module-shoop {
    width: 400px;
    height: 350px;
    margin: 0px;
    text-align: center;
    padding: 40px 35px;
    border: 3px solid grey;
    border-radius: 30px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.module-shoop:hover {
    border: 3px solid #5089C6;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #5089C6;
    transition: 0.5s;
    cursor: pointer;
    background-color: #5089C6;
}

.module-stock {
    width: 400px;
    height: 350px;
    margin: 0px;
    text-align: center;
    padding: 40px 35px;
    border: 3px solid grey;
    border-radius: 30px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}


.module-stock:hover {
    border: 3px solid #5089C6;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #5089C6;
    transition: 0.5s;
    cursor: pointer;
    background-color: #5089C6;
}

.module-sale {
    width: 400px;
    height: 350px;
    margin: 0px;
    text-align: center;
    padding: 40px 35px;
    border: 3px solid grey;
    border-radius: 30px;
    background-color: #EEEEEE;
    margin-bottom: 20px;
}

.module-sale:hover {
    border: 3px solid #5089C6;
    border-radius: 30px;
    box-shadow: 0px 0px 10px #5089C6;
    transition: 0.5s;
    cursor: pointer;
    background-color: #5089C6;
}


/* <!-- aspects --> */


/* .title-aspects {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px 40px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: black;
    margin: 0px 100px;
    border-top: 5px solid #F2BB7B;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-aspects h2 {
    padding: 0px auto;
    margin-top: 0px;
    padding: 10px;
    border: 5px solid #F2BB7B;
    background-color: #F2BB7B;
    color: white;
}

h3 {
    font-size: 25px;
}

.aspects {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    margin: 10px 0px;
    background-image: url(img/FONDO3.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}

.aspects-description {
    text-align: center;
    font-size: 20px;
}

.security {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.security-left {
    padding: 30px 40px;
    align-items: center;
    text-align: left;
}

.aspect-security_image {
    min-width: 500px;
    min-height: 300px;
    background-image: url(/img/SEGURIDAD.png);
    background-size: 500px 300px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.aspect-security_image:hover {
    background-image: url(/img/SEGURIDAD_HOVER.PNG);
    background-size: 500px 300px;
    transition: 0.9s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}

.customer {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
}

.customer-rigth {
    padding: 30px 40px;
    width: inherit;
    height: inherit;
    align-items: center;
    text-align: right;
}

.customer-client_image {
    min-width: 500px;
    min-height: 300px;
    background-image: url(/img/CLIENTES.png);
    background-size: 500px 300px;
    background-position-x: center;
    background-position-y: center;
    background-repeat: no-repeat;
}

.customer-client_image:hover {
    background-image: url(/img/CLIENTES_HOVER.PNG);
    background-size: 500px 300px;
    transition: 0.9s;
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
} */


/* <!-- documents --> */


/* .title-documents {
    font-size: 30px;
    text-align: center;
    margin: 0px;
    padding: 0px 40px;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
    color: black;
    margin: 0px 100px;
    border-top: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-documents h2 {
    padding: 0px auto;
    margin-top: 0px;
    padding: 10px;
    border: 5px solid blac;
    background-color: black;
    color: white;
}

.documents {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 10px 0px;
    padding: 0px 200px;
    background-image: url(img/FONDO4.JPG);
    background-size: 100%;
    background-repeat: no-repeat;
}

.documents {
    width: 900;
    height: 500;
    flex-wrap: wrap;
}

.document {
    margin-bottom: 30px;
    border-left: 0px;
}

.document-left {
    width: unset;
    padding-bottom: 300px;
    text-align: center;
    padding: 25px;
}

.document-description {
    font-size: 20px;
    align-items: flex-end;
}

.document-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
} */


/* <!-- programs --> */

.program {
    margin: 0px;
    height: auto;
    margin: 0px 30px;
    border-top: 1px solid black;
    margin-bottom: 15px;
    padding: 10px;
}

.program h2 {
    color: black;
}

.programs {
    align-items: center;
    text-align: center;
}

.programs img {
    width: 140px;
    height: 160px;
    filter: grayscale(100%);
    z-index: -1;
}

.programs img:hover {
    filter: none;
    cursor: pointer;
    transition: 0.5s;
}

.programs-system {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0px 100px;
}

.program-description {
    text-transform: uppercase;
}


/* <!-- contacts --> */

.contacts {
    display: flex;
    background-color:grey;
    border-top: 5px solid black;
}

.contact-form {
    margin: 0px;
}

.contact-form h2 {
    color: black;
    padding-bottom: 15px;
}

.contact-email {
    display: flex;
    height: auto;
    width: unset;
    justify-content: center;
    align-items: center;
}

button {
    margin: 0px;
    width: 60px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 10px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 0px 0px 3px black;
    background-color: white;
    text-align: center;
    color:black;
    align-items: center;
}

button:hover {
    transition: 0.5s;
    cursor: pointer;
    background-color: #333;
}

.phone_image {
    width: 25px;
    height: 25px;
    margin: 0px;
    margin-right: 10px;
}

.input {
    border: 1px solid black;
    border-radius: 10px;
    width: 250px;
    height: 25px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    padding-left: 10px;
    margin-right: 10px;
    background-color: white;
}

.redes {
    display: flex;
    height: 50px;
    width: unset;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 15px;
}

.redes-link {
    width: 50px;
    height: 50px;
}

.redes-link.github {
    background-image: url(img/GITHUB.png);
    background-size: 50px 50px;
    margin: 10px;
}

.redes-link.facebook {
    background-image: url(img/FACEBOOK.png);
    background-size: 50px 50px;
    margin: 10px;
}

.redes-link.instagram {
    background-image: url(img/INSTAGRAM.png);
    background-size: 50px 50px;
    margin: 10px;
}

.redes-link.twitter {
    background-image: url(img/TWITTER.png);
    background-size: 50px 50px;
    margin: 10px;
}

.redes-link.whatsapp {
    background-image: url(img/WHATSAPP.png);
    background-size: 50px 50px;
    margin: 10px;
}


/* <!-- footer --> */

.footer {
    background-color: #EEEEEE;
    width: auto;
    height: 30px;
    margin: 0px;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-top: 5px solid black;
}

/* .footer-details img {
    height: 30px;
    margin: 0px;
} */

.footer-details p {
    margin: 0px;
    margin-top: 0px;
    font-size: 14px;
    margin-right: 5px;
}

.sist_op {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.edge {
    width: 40px;
    margin-right: 20px;
}

.firefox {
    width: 40px;
    margin-right: 20px;
}

.chroome {
    width: 40px;
    margin-right: 30px;
}

.wrapper {
    /* min-width: 1000px; */
    /* flex:1; */
    margin: 0px auto;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    height: inherit;
    width: inherit;
}
@media screen and (max-width:1024px) {
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 25px;
    }
    .modules-description {
        font-size: 16px;
        margin: 10px 0px;
    }
    .modules {
        padding: 0px 30px;
    }
    .modules-images {
        width: 80px;
        margin:0px;
    }  
    .module-users {
        width: 80%;
        height: 300px;
        margin-right: 5%;
    }
    .module-users figure {
        margin: 0px;
    }
    .module-shoop {
        width: 80%;
        height: 300px;
    }
    .module-stock {
        width: 80%;
        height: 300px;
        margin-right: 1%;
    }
    .module-sale {
        width: 80%;
        height: 300px;
    }
    .programs-system {
        padding: 0px 10px;
    }
    .programs img {
        width: 120px;
        height: 140px;
    }
    .programs {
        margin:10px 0px;
    }
    h1 {
        font-size: 40px;
        padding-left: 20px;
    }
    .main-img {
        width: 30%;
        margin-right: 20px;
    }
    .description-main {
        margin: 0px 100px;
    }
    .link-app {
        padding: 20px;
    }
    .app {
        padding: 8px 12px;
    }
}

@media screen and (max-width:767px) {
    h2 {
        font-size: 40px;
    }
    header {
        height: auto;
        display: block;
        padding: 8px 0px;
        justify-content: space-between;
    }
    .links {
        margin-left: 50px;
        margin: 0px;
    }
    
    .nav {
        margin:0px;
    }
    .StockS {
        align-items: center;
        display: flex;
        justify-content: center;
        padding-bottom: 0px;
        margin:0px;
    }
    .StockS img {
        margin: 0px;
    }
    ul {
        display: block;
        align-items: center;
        text-align: center;
        margin:0px;
    }
    .link {
        padding: 5px;
        margin:0px;
    }
    .link:hover {
        background-color: #EEEEEE;        
        color:black;
    }
    h3 {
        font-size: 20px;
    }
    .modules {
        padding: 0px 20px;
        margin: 5px 0px;
    }
    .modules-description {
        font-size: 13px;
        margin: 8px 0px;
    }
    .modules-images {
        width: 80px;
        margin:0px;
    }    
    .module-users {
        width: 80%;
        height: 230px;
    }
    .module-shoop {
        width: 80%;
        height: 230px;
    }
    .module-stock {
        width: 80%;
        height: 230px;
    }
    .module-sale {
        width: 80%;
        height: 230px;
    }
    .programs img {
        width: 120px;
        height: 140px;
    }
    .program-description {
        font-size: 15px;
    }
    .redes-link {
        width: 40px;
        height: 40px;
    }
    
    .redes-link.github {
        background-size: 40px 40px;
        margin: 10px;
    } 
    
    .redes-link.facebook {
        background-size: 40px 40px;
        margin: 10px;
    }
    
    .redes-link.instagram {
        background-size: 40px 40px;
        margin: 10px;
    }
    
    .redes-link.twitter {
        background-size: 40px 40px;
        margin: 10px;
    }
    
    .redes-link.whatsapp {
        background-size: 40px 40px;
        margin: 10px;
    }
    button {
        margin: 0px;
        width: 50px;
        height: 25px;
        font-size: 13px;
    }    
    .phone_image {
        width: 20px;
        height: 20px;
        margin: 0px;
        margin-right: 10px;
    }
    
    .input {
        width: 230px;
        height: 23px;
        font-size: 14px;
    }
    .main {
        padding-top:160px;
    }
    h1 {
        font-size: 170%;
        padding-left: 20px;
    }
    .main-img {
        width: 35%;
        margin-right: 20px;
    }
    .description-main {
        margin: 0px 50px;
        font-size: 14px;
    }
    .link-app {
        padding: 15px;
    }
}


@media screen and (max-width:700px) {
    .modules {
        display: block;
    }
    .modul h2 {
        padding-bottom: 0px;
    }
    .modules-description {
        font-size: 13px;
        margin: 6px 0px;
    }
    .module-users {
        padding: 20px;
        width: 250px;
        height: 220px;
        margin: 10px auto;
    }
    .module-shoop {
        padding: 20px;
        width: 250px;
        height: 220px;
        margin: 10px auto;
    }
    .module-stock {
        padding: 20px;
        width: 250px;
        height: 220px;
        margin: 10px auto;
        
    }
    .module-sale {
        padding: 20px;
        width: 250px;
        height: 220px;
        margin: 10px auto;
    }
    .modules-images {
        width: 60px;
    }
    .modules figure {
        margin: 0px;
    }
    .modules-left {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .modules-rigth {
        padding-top: 0px;
        margin-top: 0px;
    }
    .programs-system {
        padding: 0px 10px;
        flex-wrap: wrap;
    }
    .programs img {
        width: 100px;
        height: 120px;
    }
    .programs {
        margin:10px 10px;
    }
    .ios {
        width: 40px;
        margin-right: 20px;
    }
    
    .windows {
        width: 40px;
        margin-right: 20px;
    }
    
    .android {
        width: 40px;
        margin-right: 20px;
    }
    .footer-details img {
        height: 25px;
    }
    
    .footer-details p {
        font-size: 11px;
    }
    
}   


@media screen and (max-width:480px) {
    h2 {
        font-size: 30px;
    }
    .projectm-image{
        width: 140px;
    }
    .projectm-description{
        font-size:13px;
    }
    .projectm p {
        font-size: 11px;
        margin: 6px;
    }

    .collaborators-image {
        width: 110px;
    }
    .collaborators-description{
        font-size:13px;
    }
    .collaborators p {
        font-size: 11px;
        margin: 6px;
    }
    .collaborators-more-image {
        width: 110px;
    }
    .collaborators-more-description{
        font-size:13px;
    }
    .collaborators-more p {
        font-size: 11px;
        margin: 6px;
    }
    .programs img {
        width: 80px;
        height: 100px;
    }
    .programs {
        margin:10px 10px;
    }
    .program-description {
        font-size: 12px;
    }
    .redes-link {
        width: 30px;
        height: 30px;
    }
    
    .redes-link.github {
        background-size: 30px 30px;
        margin: 5px;
    } 
    
    .redes-link.facebook {
        background-size: 30px 30px;
        margin: 5px;
    }
    
    .redes-link.instagram {
        background-size: 30px 30px;
        margin: 5px;
    }
    
    .redes-link.twitter {
        background-size: 30px 30px;
        margin: 5px;
    }
    
    .redes-link.whatsapp {
        background-size: 30px 30px;
        margin: 5px;
    }
    button {
        margin: 0px;
        width: 60px;
        height: 25px;
        font-size: 13px;
    }    
    .phone_image {
        width: 18px;
        height: 18px;
        margin: 0px;
        margin-right: 5px;
    }
    footer {
        padding:10px 5px;
    }
    
    .input {
        width: 200px;
        height: 20px;
        font-size: 13px;
        margin-right: 5px;
    }
    .ios {
        width: 35px;
        margin-right: 10px;
    }
    
    .windows {
        width: 35px;
        margin-right: 10px;
    }
    
    .android {
        width: 35px;
        margin-right: 10px;
    }
    .footer-details img {
        height: 20px;
    }
    
    .footer-details p {
        font-size: 9px;
    }
    .main {
        padding-top:70px;
    }
    .links, .button, .nav{
        position: absolute;
    }
    
    .links{
        margin: 0px auto;
        top: 1300%; 
        left: 85%;
        margin-left: -20px;
    }
    
    #toggle{
        display: none;
    }
    
    .button{
        z-index: 999;
        width: 50px;
        height: 50px;
        background-color: transparent;
        border-radius: 100%;
        transition: all 0.5s ease-in-out;
        box-shadow: 1px 3px 10px 0 rgba(0,0,0,0.3);
        cursor: pointer;
    }
    
    .button:before{
        position: absolute;
        top: 25px;
        left: 13px;
        content: '';
        width: 25px;
        height: 4px;
        background: #5089C6;
        transform: rotate(90deg);
    }
    
    .button:after{
        position: absolute;
        top: 25px;
        left: 13px;
        content: '';
        width: 25px;
        height: 4px;
        background: #5089C6;
    }
    
    .nav{
        transform: translateY(0%);
        opacity: 0;
        top: 15px;
        left: -320px;
        transition: all 0.5s ease-in-out;
        background: white;
        width: 350px;
        border-radius: 20px;
        /* border: 2px solid #EEEEEE  ; */
        transform: translateY(0%);
        box-shadow: 2px 3px 10px 0 #333(0,0,0,0.1);
    }
    
    .nav a{
        text-align: center;
        display: block;
        margin: 15px 0px;
        color: #333;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 300ms;
        padding: 5px 20px;
        font-size: 45px;
    }
    
    .nav a:hover{
        background-color: inherit;        
        color:#BBBBBB;
    }

    #toggle:checked ~ .nav{
        opacity: 1;
        transform: translateY(-120%);
    }
    
    #toggle:checked ~ .button{
        transform: rotate(135deg);
        box-shadow: 0 0 0 0 transparent;
    }
    
    .master {
        justify-content: space-between;
    }
    h1 {
        font-size: 130%;
        padding-left: 20px;
    }
    .main-img {
        width: 30%;
        margin-right: 10px;
    }
    .description-main {
        margin: 0px 50px;
        font-size: 13px;
    }
    .link-app {
        padding: 15px;
    }
    .app {
        font-size: 13px;
    }
}

@media screen and (max-width:370px) {
.ios {
    width: 30px;
    margin-right: 5px;
}

.windows {
    width: 30px;
    margin-right: 5px;
}

.android {
    width: 30px;
    margin-right: 5px;
}
.footer-details img {
    height: 20px;
}

.footer-details p {
    font-size: 8px;
}
}

@media screen and (max-width:320px) {
    h2 {
        font-size: 25px;
    }
    .projectm-image{
        width: 120px;
    }
    .projectm-description{
        font-size:11px;
    }
    .projectm p {
        font-size: 9px;
    }
    .collaborators-image {
        width: 90px;
    }
    .collaborators-description{
        font-size:11px;
    }
    .collaborators p {
        font-size: 9px;
    }
    
    .collaborators-more-image {
        width: 90px;
    }
    .collaborators-more-description{
        font-size:11px;
    }
    .collaborators-more p {
        font-size: 9px;
    }
    .modules {
        display: block;
        margin: 0px auto;
        padding: 0px 2px;
    }
    .modul h2 {
        padding-bottom: 0px;
    }
    .modules-description {
        font-size: 13px;
        margin: 0px;
    }
    .module-users {
        padding: 20px;
        width: 220px;
        height: 230px;
        margin: 10px auto;
    }
    .module-shoop {
        padding: 20px;
        width: 220px;
        height: 230px;
        margin: 10px auto;
    }
    .module-stock {
        padding: 20px;
        width: 220px;
        height: 230px;
        margin: 10px auto;
        
    }
    .module-sale {
        padding: 20px;
        width: 220px;
        height: 230px;
        margin: 10px auto;
    }
    .modules-images {
        width: 60px;
    }
    .modules figure {
        margin: 0px;
    }
    .modules-left {
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .modules-rigth {
        padding-top: 0px;
        margin-top: 0px;
    }
    .programs img {
        width: 60px;
        height: 80px;
    }
    .programs {
        margin:10px 0px;
    }
    .program-description {
        font-size: 10px;
    }
    .redes-link {
        width: 25px;
        height: 25px;
    }
    
    .redes-link.github {
        background-size: 25px 25px;
        margin: 3px;
    } 
    
    .redes-link.facebook {
        background-size: 25px 25px;
        margin: 3px;
    }
    
    .redes-link.instagram {
        background-size: 25px 25px;
        margin: 3px;
    }
    
    .redes-link.twitter {
        background-size: 25px 25px;
        margin: 3px;
    }
    
    .redes-link.whatsapp {
        background-size: 25px 25px;
        margin: 3px;
    }
    .button {
        margin: 0px;
        height: 20px;
        font-size: 11px;
    }    
    .phone_image {
        width: 15px;
        height: 15px;
        margin: 5px;
    }
    .input {
        width: 180px;
        height: 20px;
        font-size: 11px;
    }
    .main {
        padding-top:200px;
    }
    .master {
        justify-content: space-between;
    }
    h1 {
        font-size: 120%;
        padding-left: 20px;
    }
    .main-img {
        width: 35%;
        margin-right: 10px;
    }
    .description-main {
        margin: 0px 20px;
        font-size: 10px;
    }
    .link-app {
        padding: 13px;
    }
    .app {
        font-size: 11px;
    }
}    