body {
    overflow-y: hidden;
    font-family: 'Titillium Web', sans-serif;
    background: url('../img/FONDO2.png')center center fixed;
}

.saludo {
    padding-top: 40px;
    color: #4e4e56;
    text-align: center;
    width: 100%;
}

.saludo h1 {
    font-size: 25px;
    margin-bottom: 0px;
}

.saludo h1 span {
    color: #DA635D;
    text-transform: uppercase;
}

.saludo .bienvenida {
    margin-top: 0px;
}

.estadisticas {
    margin: 0px auto;
    margin-bottom: 30px;
    width: 700px;
    height: 400px;
    background-color: rgba(78, 78, 86, 0.7)!important;
    border-radius: 10px;
    padding: 30px;
    margin-top: 40px;
}

.people {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.dates {
    display: flex;
    justify-content: space-around;
}

.date {
    width: 150px;
    padding: 5px;
    border: none;
    align-items: center;
}

.date:hover {
    background-color: rgba(78, 78, 86, 0.6)!important;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    border-radius: 10px;
    width: 200px;
    height: 150px;
}

.date-svg {
    text-align: center;
    color: #fff;
}

.date h3 {
    font-size: 20px;
    text-align: center;
    text-transform: none;
    color: #fff;
}

.date p {
    font-size: 18px;
    text-align: center;
    color: #fff;
}